/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFDECA;
}

.container {
    width: 90%;
    max-width: 1520px;
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #463018;
    color: #EFDECA;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('dlux2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.text-links-container {
    display: flex;
    margin-right: auto;
}

.text {
    margin-left: 60px;
    text-decoration: none;
    color: #EFDECA;
    cursor: pointer; 
}

.text:hover {
    color: #CE9859;
}

.buttons button {
    padding: 10px 20px;
    background-color: #463018;
    color: #EFDECA;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#regbutton {
    background-color: #EFDECA;
    color: #463018;
}

.buttons button:hover {
    background-color: #EFDECA;
    color: #463018;
}

/* Estilos generales del footer */
.footer {
    background-color: #463018;
    color: #EFDECA;
    padding: 20px 0; /* Aumentar el padding vertical */
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 90%; /* Reducir el ancho */
}

/* Estilos específicos para el formulario de inicio de sesión y registro */
.login-form,
.registro-form {
    background-color: #EFDECA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 550px; /* Reducir el ancho */
    margin: auto; /* Centrar horizontalmente */
    margin-top: 50px; /* Añadir margen superior */
    margin-bottom: 50px; /* Añadir margen inferior */
    display: flex; /* Utilizar flexbox */
    flex-direction: column; /* Alinear elementos en columna */
    justify-content: center; /* Centrar verticalmente */
}


.login-form h2,
.registro-form h2 {
    margin-bottom: 20px;
    color: #463018;
    text-align: center; /* Centrar el título */
}

.login-form input[type="text"],
.login-form input[type="password"],
.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"] {
    width: calc(100% - 20px); /* Ajustar el ancho */
    padding: 10px;
    margin: 0 auto 10px; /* Añadir espacio inferior */
    display: block;
    border: 1px solid #463018;
    border-radius: 5px;
}

.login-form button,
.registro-form button {
    width: 100%;
    padding: 10px;
    background-color: #463018;
    color: #EFDECA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Añadir espacio superior */
}

.login-form button:hover,
.registro-form button:hover {
    background-color: #CE9859;
}

.login-form p,
.registro-form p {
    margin-top: 20px; /* Aumentar el espacio superior */
    text-align: center; /* Centrar el texto */
}

.login-form a,
.registro-form a {
    color: #CE9859;
    text-decoration: none;
}

.login-form a:hover,
.registro-form a:hover {
    text-decoration: underline;
}
    